.App {
  text-align: center;
  padding: 1rem;
}

.stock-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.stock-item {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  background-color: rgba(27, 21, 21, 0.748);
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

.feedback-message {
  color: red;
}
.btn{
  
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.6s ease-in;
}
.btn:hover{
  scale: 1.1;
}
.n{
  background-color: red;
  color: black;
}
.dev{
  background-color: black;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  color: white;
}